<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >


	<!-- 结果处理，默认以list方式处理，单个记录填充为list -->
	
	<!-- url第一页和后面的不一样 -->
	<!-- url翻页方式   1、直接判断下一页按钮是否存在  2、url带翻页参数：细分 a、url直接带页码参数  b、url带start limit参数（map表示）3、url带翻页直接表现在url上   4、多种组合 -->
	<!-- 翻页 NextPageRule(可以处理urllist)下一页获取不为空  UrlPageRule（index_1   index_2...）（如何处理urllist） UrlPageParaRule（用参数替换？？）(&a=&b= 不能用map 没法确定具体参数是什么)-->
	<!-- url如何与固定值对应 -->
	<!-- 结果处理  导入数据库、调用存储过程、导出excel -->
	<!-- post请求 -->
	<!-- 代理设置 -->
	<!-- 文件下载 保存 -->
	<!-- 处理json -->
	
	
	<!--PageUrlRule   url上可以找出翻页规律的（非url带参数）对应的处理类   -->
	<!--PageParamRule url上带参数可以找出翻页规律的对应的处理类                    -->	
	<!--PageNextRule  直接点下一页可以找到下一页的url的对应的处理类             -->
	
	<!-- url类  url 参数map  翻页  request getNextPage  -->
	
	<!-- url列表 下一页不为空 调用存储过程    -->

	<!-- gotolink 固定值 -->
	<!-- sql语句生成[(auto)id] 系统函数CommonUtils.getAutoValue  
			        [(map)type] save实现类的mapValue配置
			        []  fieldrule 的结果以及 save实现类的defaultValue配置  
	-->
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!-- log4j -->
  <context-param>  
  	<param-name>webAppRootKey</param-name>    
  	<param-value>grab.root</param-value>
  </context-param>     
  <context-param>  
    <param-name>log4jConfigLocation</param-name>  
    <param-value>classpath:log4j.properties</param-value>  
  </context-param> 
  <listener>  
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>  
  </listener> 
  <listener>  
    <listener-class>com.purang.grab.listener.TaskInfoListener</listener-class>  
  </listener> 
 
  <!--  -->
  <!--  -->

  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <!-- taskgrouplist -->
  <servlet>
  	<servlet-name>taskgroupservlet</servlet-name>
    <servlet-class>com.purang.grab.servlet.TaskGroupListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>taskgroupservlet</servlet-name>
  	<url-pattern>/taskgrouplist</url-pattern>
  </servlet-mapping>
  <!-- tasklist -->
  <servlet>
  	<servlet-name>tasklistservlet</servlet-name>
    <servlet-class>com.purang.grab.servlet.TaskListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>tasklistservlet</servlet-name>
  	<url-pattern>/tasklist</url-pattern>
  </servlet-mapping>
  <!-- taskoper -->
  <servlet>
  	<servlet-name>taskoperateservlet</servlet-name>
    <servlet-class>com.purang.grab.servlet.TaskOperateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>taskoperateservlet</servlet-name>
  	<url-pattern>/taskoperate</url-pattern>
  </servlet-mapping>
  <!-- taskedit -->
  <servlet>
  	<servlet-name>taskeditservlet</servlet-name>
    <servlet-class>com.purang.grab.servlet.TaskEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>taskeditservlet</servlet-name>
  	<url-pattern>/taskedit</url-pattern>
  </servlet-mapping>
  <!-- taskeditsave -->
  <servlet>
  	<servlet-name>taskeditsaveservlet</servlet-name>
    <servlet-class>com.purang.grab.servlet.TaskEditSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>taskeditsaveservlet</servlet-name>
  	<url-pattern>/taskeditsave</url-pattern>
  </servlet-mapping>
</web-app>
